.category-container {
    margin: 10px;
    border-radius: 5px;

    .description {
        padding: 10px;
        font-size: 1rem;
        font-family: "Montserrat";
        line-height: 1.5;

    }

    .image-container {
        box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
        max-width: 500px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;

        }
    }
}