.home-container {

    .about-h1 {
        font-size: 2rem;
        font-family: "Montserrat";
        margin-top: 40px;
    }

    .bio {
        padding: 10px;
        font-size: 1rem;
        font-family: "Montserrat";
        line-height: 1.5;

        strong {
            font-weight: bolder;
        }
    }

    .line-break {
        border-bottom: 1px solid lightgrey;
        margin: 40px 30px 10px 30px;
    }
}