.home-container {

    h1 {
        font-size: 2rem;
        margin: 30px;
        font-family: "Montserrat";
    }

    .bio {
        padding: 10px;
        font-size: 1rem;
        font-family: "Montserrat";
        line-height: 1.5;
    }

    .line-break {
        border-bottom: 1px solid lightgrey;
        margin: 40px 30px;
    }
}